appdirs==1.4.3
basemap==1.2.1
cycler==0.10.0
echarts-china-cities-pypkg==0.0.9
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-china-provinces-pypkg==0.0.3
echarts-countries-pypkg==0.1.6
Jinja2==2.11.1
kiwisolver==1.1.0
lml==0.0.2
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
Pillow==7.0.0
prettytable==0.7.2
pyecharts==1.7.1
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.2.0
pyee==7.0.1
pyparsing==2.4.6
pyppeteer==0.0.25
pyproj==2.6.0
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2019.3
simplejson==3.17.0
six==1.14.0
tqdm==4.43.0
urllib3==1.25.8
websockets==8.1
