appdirs==1.4.4
basemap==1.2.1
cycler==0.10.0
echarts-china-cities-pypkg==0.0.9
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-china-provinces-pypkg==0.0.3
echarts-countries-pypkg==0.1.6
Jinja2==2.11.2
kiwisolver==1.2.0
lml==0.0.9
MarkupSafe==1.1.1
matplotlib==3.3.0
numpy==1.19.1
pandas==1.1.0
Pillow==7.2.0
prettytable==0.7.2
pyecharts==1.8.1
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.2.0
pyee==7.0.2
pyparsing==2.4.7
pyppeteer==0.2.2
pyproj==2.6.1
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2020.1
simplejson==3.17.2
six==1.15.0
tqdm==4.48.0
urllib3==1.26.5
websockets==8.1
